<h1>HomeWork Helper</h1>
<p>App that provides online help in solving assignments</p>
<ul>
    <li> Helps you to ask help for home work</li>
    <li> The To do list' allows you to organise and stay up to date with the home work</li>
    <li> Share your creative projects </li>
</ul>

<%= link_to 'Add Subject' , new_subject_path %>

<!--<h2> Alliyah </h2>-->
<!--<h2> Khusboo </h2>-->
<!--<h2 class = "Anishka-heading" > Anishka </h2>-->